body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 32.5vw 32.5vw 32.5vw;
}

.box {
  font-family: Verdana, Tahoma, sans-serif;
  height: 500px;
  margin: 5px;
  z-index: 1;
  background-color: #fff;
  color: black;
}

.box-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.ok {
  border-color: #C8EEC4;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.error {
  border-color: #FC6962;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  color: gray;
}

h4 {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 12px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  background-color:#fff;
  border: none;
  color: gray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #C8EEC4;
  border-radius: 6px;
  max-height: 75px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #C8EEC4;
  color: white;
}

input {
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

input:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 85px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  height: 300px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-child(odd) {
  background-color: white;
  ;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#header {
  grid-column: 1/4;
  grid-row: 1;
  height: 300px;
}
#motion {
  grid-column: 1;
  grid-row: 2;
}
#braking {
  grid-column: 2;
  grid-row: 2;
}
#battery_pack {
  grid-column: 3;
  grid-row: 2;
}